/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
  font-family: "Poppins", Righteous, sans-serif;
}

/* CSS for Header */
body{
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: aliceblue;
}
header{
  background-color: rgb(9, 9, 201);
  height: 460px;
}

/* CSS for Navbar */
nav{
  padding: 10px 60px;
  float: right;
}
.nav-item{
  color: #fff;
  padding: 0px 10px;
  font-size: 12px;
}
.nav-item-active{
  font-size: 12px;
  border-radius: 3px;
  background-color: #fff;
  padding: 5px 10px;
}
.logo{
  position: relative;
  left: 60px;
  top: 40px;
  height: 50px;
}

/* CSS for Text */
.header-text img{
  position: relative;
  padding-left: 62px;
  top: 100px;
}
.header-text>h2{
  position: relative;
  top: 70px;
  padding-left: 60px;
  color: #fff;
  font-weight: 400;
  font-size: 40px;
}
.header-text p{
  position: relative;
  padding-left: 60px;
  top: 50px;
  font-weight: 100;
  color: rgb(199, 198, 198);
}

/* CSS for Image */
.header-image{
  position: absolute;
  top: 70px;
  right: 0px;
}

/* CSS for companies */
.companies{
  padding-top: 20px;
  font-family: 'Righteous';
  font-size: 25px;
}
.company-items{
  font-family: Righteous;
  padding-left: 60px;
  padding-right: 50px;
  color: rgb(14, 14, 14);
  font-weight: 400;
}
a:link{
  text-decoration: none;
}

/* CSS for API section */
.api{
  padding: 80px 60px ;
}
.api-heading{
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
}

/* CSS for cards */
.cards{
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  font-weight: 100;
}
.card-active{
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 10px;
}
.card{
  padding: 30px 20px;
}
.card-active > h3{
  color: rgb(89, 89, 236);
}

/* CSS for blog section */
.blog-heading{
  padding: 0px 60px;
  font-size: 20px;
}
.blog-cards{
  padding: 10px 60px;
  display: flex;
  justify-content: space-around;
}
.blog-card{
  display: flex;
  background-color: #fff;
  border-radius: 50px 10px 10px 10px;
  max-height: 288px;
}
.blog-content{
  padding-left: 40px;
}
.blog-author{
  position: relative;
  padding-top: 250px;
  left: -80px;
  font-size: 12px;
}
.blog-card-bottom-image {
  position: relative;
  margin-top: 250px;
  left: -180px;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1);
}
.blog-content > h6{
  color: rgb(89, 89, 236);
}

/* CSS for FAQ section */
.faq-section{
  margin-top: 70px;
  padding-left: 60px;
  display: flex;
  background-color: #cfedf3;
  height: 324px;
}
.faq-image{
  position:absolute;
  right: 0px;
}
.faq-content>h2{
  color: black;
  font-size: 35px;
  font-weight: 900;
  text-align: left;
}
.faq-content>h4{
  font-size: 12px;
  font-weight: 300;
}
.faq-content>h4:nth-child(3){
  font-weight: 600;
  font-size: 15px;
}
.faq-content>button{
  color: #fff;
  border: 5px solid rgb(89, 89, 236);
  background-color: rgb(89, 89, 236);
  border-radius: 5px;
}

/* CSS for download section */
.download-section{
  padding: 50px 60px;
  align-items:center ;
  display: flex;
  justify-content: space-between;
}
h1>span{
  font-weight:100; 
}
.download-email>form{
  background-color: #cfedf3;
  border-radius: 30px;
}
.download-email>form>input{
  background-color: #cfedf3;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 160px;
  border: 2px solid #cfedf3;
  border-radius: 30px; 
}
.download-email>form>button{
  color: #fff;
  background-color: rgb(89, 89, 236);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 37px;
  padding-right: 37px;
  margin-right: 3px;
  border: 2px solid #cfedf3;
  border-radius: 30px; 
}

/* CSS for footer section */
.footer-section{
  display: flex;
  background-color: rgb(89, 89, 236);
  padding: 70px 60px;
  justify-content: space-between;
  color: #fff;
}
.footer-left{
  flex-wrap: wrap;
}
.footer-right{
  padding-left: 50px;
}
.list, .logos-list{
  display: flex;
}
.list-items{
  padding-right: 15px;
  padding-left: 15px;
  list-style-type: none;
  border-right: 1px solid rgb(182, 182, 182);
  }
.list-items:last-child{
  border: 0px;;
}
.footers-right>img{
  position: relative;
  right: -100px;
  margin-left: 10px;
}
.list>.list-items{
  position: relative;
  left: -55px;
}
.list>.list-items:first-child{
  border: 0px;
}

